// scss/_product.scss

#productoDetalle {
  img {
    border-radius: 5px;
    margin-bottom: 1rem;
  }

  .card-body {
    h5 {
      font-size: 1.5rem;
      font-weight: bold;
    }
    p {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
    button {
      width: 100%;
      transition: 0.3s;
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  /* Tarjeta con fondo azul */
  .card {
    background-color: #cce5ff; 
    border-radius: 8px;
    padding: 1rem;
  }
}

/* Header navbar verde y más grande */
.navbar.bg-primary {
  background-color: #28a745 !important; 
  padding: 1rem 2rem;
}
.navbar .navbar-brand {
  font-size: 1.8rem;
  font-weight: 600;
}
